:root{
    --fuente-principal: 'Montserrat',sans-serif;
    --compra_ahora : #F6DE86;
    --black: #000000;
    --opaci:#262705;
    --white: #FFFFFF;
    --recuerdame: #FDEFd6;
    --fondo-inicio:#b37c4c;
    --fondo-inicio-light:#e5a56b; 
    --xs:12px;
    --sm:14px;
    --md:16px;
    --lg:18px;
}


body{
    background-color: var(--recuerdame);
    width: 100%;
    height: 50vh;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}


h2{
    font-size: var(--lg);
    color: var(--fondo-inicio);
    font-weight: 800;
    margin-top: 48px;
}



.boton-volver a{
    width: 100%;
    font-size: var(--sm);
    color: var(--fondo-inicio);
    margin: 0 auto;
    padding: 8px;
    border: 1px solid var(--fondo-inicio);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.boton-volver a:hover{
    background-color: var(--fondo-inicio);
    color: var(--white);
}